@import "tailwindcss";
@source "../views";

@theme {
  --color-pgreen-dark: #455037;
  --color-pgreen-olive: #657625;
  --color-pegg: #DCD0BC;
  --color-pgray: #131212;
  --color-pred: #D4421A;
}

.button-primary {
  @apply bg-pgreen-olive text-white px-3 py-2 rounded-lg font-semibold hover:bg-pred transition;
}
